/bin/
/gen/
/.externalToolBuilders/
/.settings/
/.classpath
/.project
/build_rust.sh
/proguard-project.txt
/project.properties
/target/
/libs/armeabi/
*.iml
/libs/
/.gradle/
/.idea/
/gradle/
*gradle*

